<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC82qmSP9vXOT3Z9uA6wX1OODme0smiSDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>404003738267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookShop.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-book-shop</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-book-shop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404003738267:ios:0866fb5f2176d0c135ac3e</string>
</dict>
</plist>